* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0008bc;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper .loader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.loader .loading {
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 10px;
  animation: Loading 0.8s infinite ease;
}
.loader .loading.one {
  animation-delay: 0.3s;
}

.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}
@keyframes Loading {
  0% {
    height: 30px;
    width: 30px;
  }
  50% {
    height: 20px;
    width: 20px;
  }
}
